tr td{
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 7px 10px;
}

th {
    font-weight: bold;
    padding: 7px 10px;
}

tr {
    border-bottom: 1px solid white;
}

tr:last-child {
    border-bottom: 0;
}

.detail {
    padding-top: 40px;
}